$height: 44px;

header {
    background: #000000;
    color: #FFFFFF;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;

    .toggle-nav-btn {
        cursor: pointer;
        width: 15px;
        margin-right: 10px;
    }

    .title {
        flex: 1;
        text-align: center;
    }

    .right {
        width: 15px;
        margin-left: 10px;
    }
}